HOST: http://youyanchu.gaiamagic.com/api/v1

--- API for youyanchu.com ---
---
## API 地址

当前 API 版本为 `v1`

完整访问地址：`http://<web_site>/api/<version>/<resource>`，例如：`http://youyanchu.com/api/v1/performances`

## Token

Token 需要通过 http header 的 `X-USER-ACCESS-TOKEN` 发送
---

--
Performance 表演列表
--
获取所有表演列表
GET /performances
// page默认第一页；district默认全国
{ 
  page: "页数",
  district: "城市名字"
}
< 200
[
  {
    "id": 表演列表id,
    "progress": "状态",
    "areas": [
        "河南",
        "郑州"
    ],
    "address": "地址",
    "genre": "曲风",
    "kind": "演出类型",
    "bands_list": "乐队",
    "title": "表演列表标题",
    "description": "描述",
    "begin_at": "开始时间",
    "end_at": "结束时间",
    "city": "城市",
    "location": "场地",
    "coordinate": {
        #坐标
        "lat": "34.7644",
        "lng": "113.66924"
    },
    "poster": "演出海报(大)",
    "poster_thumb": "演出海报(小)",
    "albums_count": 相册数量,
    "favorites_count": 0,
    "favorite_id": null,
    "ticket": "门票价格",
    "tickets_count": 门票数量,
    "is_want": 是否想去(true : false),
    "is_interested": 是否感兴趣(true : false)
  },
  {  },
  ...
]

--
Performance 表演详情
--
GET /performances/:id
< 200
[
  {
    "id": 表演列表id,
    "progress": "状态",
    "areas": [
        "河南",
        "郑州"
    ],
    "address": "地址",
    "genre": "曲风",
    "kind": "演出类型",
    "bands_list": "乐队",
    "title": "表演列表标题",
    "description": "描述",
    "begin_at": "开始时间",
    "end_at": "结束时间",
    "city": "城市",
    "location": "场地",
    "coordinate": {
        #坐标
        "lat": "34.7644",
        "lng": "113.66924"
    },
    "poster": "演出海报(大)",
    "poster_thumb": "演出海报(小)",
    "albums_count": 相册数量,
    "favorites_count": 0,
    "favorite_id": null,
    "ticket": "门票价格",
    "tickets_count": 门票数量,
    "is_want": 是否想去(true : false),
    "is_interested": 是否感兴趣(true : false),
    "ticket_settings": [
      { 
        "begin_at": "开始时间",
        "custom_link": "链接",
        "end_at": "结束时间",
        "id": id,
        "name": 名称("现场票"),
        "note": "",
        "performance_id": 演出id,
        "price": 价格,
        "tickets_count": 票数量
      },
      {  },
      ...
    ]
  },
  {  },
  ...
]

--
City 热门城市
--
GET /cities
< 200
{ 
  cities: [
    #热门城市
    "北京",
    "上海"
  ]
}

--
Feature 专题
--
获取所有专题，只取权值最高3个专题
GET /features
< 200
[
  { 
    id: "专题id",
    title: "专题标题",
    description: "专题描述",
    banner_small: "专题小图片",
    banner: "专题大横幅",
  },
  { },
  ...
]

单个专题展示,(id放于URL后)
GET /features/:id
< 200
{ 
  id: "专题id",
  title: "专题标题",
  description: "专题描述",
  banner_small: "专题小图片",
  banner: "专题大横幅",
  performances: [
    { 
      //具体参考 /performances 里面参数返回
    },
    {  },
    ...
  ]
}

--
User 用户
--
weibo登录

POST /fans/sns_login
{ 
  uid: uid,
  nickname: nickname,
  avatar: avatar,
  token: token,
  provider: provider
}
< 200
{ 
  success: true,
  id: 用户id,
  nickname: 用户姓名,
  auth_token: 登录token,
  email: 用户email,
  avatar: 用户头像
}
//登录失败
{{ "success": false, "message": "uid or provider must be provide" }, "status": 400 }

获取用户信息
GET /fans/profile
{ 
  auth_token: 用户token
}
< 200
{ 
  nickname: nickname,
  area: [用户地址],
  biography: 个人介绍，
  cellphone: 电话,
  gender: "男" or "女",
  avatar: avatar
}

--
Follow 关注

关注所有api都需要用户登录(auth_token), 具体参考最上面用户登录auth_token参数校验
--
关注列表

GET /follows
每页返回10条数据
{ 
  page: 页码,
}
< 200
[
  { //具体参考 /performances 里面参数返回  },
  ...
]

想去

POST /follows/want
{ 
  performance_id: 演出id
}
< 200
{ success: true }
//失败 
{ success: false, message: "验证不通过", errors: { "具体信息" } }

删除想去
DELETE /follows/want
{ 
  performance_id: 演出id
}
< 200
{ success: true }
//失败 
{ success: false }

感兴趣

POST /follows/interest
{ 
  performance_id: 演出id
}
< 200
{ success: true }
//失败 
{ success: false, message: "验证不通过", errors: { "具体信息" } }

删除感兴趣
DELETE /follows/interest
{ 
  performance_id: 演出id
}
< 200
{ success: true }
//失败 
{ success: false }

--
Order 订单

此类别下的所有接口都需要用户登录
--

订单列表

`status` 参数可能的值为 `unpaid` `paid` `expired`  
如果不设置此值，则表示获取所有订单
GET /orders
< 200
[
  {
    id: 1,
    masked_cellphone: '13412345678',
    quantity: 10,
    total: '100.00',
    status: 'unpain',
    number: 'b326646e3a95156c7271', // 订单号
    is_buyable: true,
    created_at: '2014-01-07T15:21:00+08:00',
    updated_at: '2014-01-07T15:21:00+08:00',
    expired_at: '2014-01-07T15:21:00+08:00',
    paid_at: null // 未付款时为null
  }
]

创建订单

POST /orders
{
  quantity: 10, // 票数
  cellphone: '13412345678',
  ticket_setting_id: 1, // 票务类型id
  performance_id: 2 //
}
< 200
{
  id: 1,
  masked_cellphone: '13412345678',
  quantity: 10,
  total: '100.00',
  status: 'unpain',
  number: 'b326646e3a95156c7271', // 订单号
  is_buyable: true,
  created_at: '2014-01-07T15:21:00+08:00',
  updated_at: '2014-01-07T15:21:00+08:00',
  expired_at: '2014-01-07T15:21:00+08:00',
  paid_at: null // 未付款时为null
}

--
Address 配送地址

此类别下的所有接口都需要用户登录
--

登录用户的配送地址列表

GET /addresses
< 200
[
  {
    recipient: '收件人',
    cellphone: '13811111111',
    destination: '地址',
    zipcode: '邮政编码'
  }
]

查询登录用户的配送地址

GET /addresses/:address_id
< 200
{
  recipient: '收件人',
  cellphone: '13811111111',
  destination: '地址',
  zipcode: '邮政编码'
}

创建配送地址

POST /addresses
{
  recipient: '收件人',
  cellphone: '13811111111',
  destination: '地址',
  zipcode: '邮政编码'
}
< 200
{
  recipient: '收件人',
  cellphone: '13811111111',
  destination: '地址',
  zipcode: '邮政编码'
}
